<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{.title}} </title>

    <!-- Style -->
    <link rel="stylesheet" href="notes.css">
</head>

<body>
    <input type="checkbox" id="checkbox-navbar" name="checkbox-navbar">
    <label for="checkbox-navbar" id="checkbox-navbar-lbl">
        <span class="navbar-line"></span>
        <span class="navbar-line"></span>
        <span class="navbar-line"></span>
    </label>
    <nav>
        <h2>{{.title}}</h2>

        <ul>
            {{range .files}}
            <li>
                <a href="{{.name}}">{{.title}}</a>
            </li>
            {{end}}
        </ul>
    </nav>

    <main>